:root {
  --color-background: rgb(246, 248, 254);
  --color-text: #2c3f50;
  --color-action: #008fff;
  --color-error: #b00020;
  --color-focus: #bec3c6;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --color-background: rgb(23, 33, 41);
//    --color-text: #bec3c6;
//    --color-action: #45adff;
//    --color-error: #cf6679;
//    --color-focus: #ebf1f1;
//  }
//}
